{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Lista de Libros</h1>

    {% for libro in libros %}
        <ul data-id="{{ libro.id }}">
            <li>{{ libro.titulo }}</li>
            <li>{{ libro.autor }}</li>
            <li>{{ libro.descripcion }}</li>
            <li>{{ libro.isbn }}</li>
            <li><button class="btn btn-primary edit">Editar</button></li>
            <li><button class="btn btn-primary delete">Eliminar</button></li>
        </ul>
    {% endfor %}
    
{% endblock %}