{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Nuevo Libro</h1>

    {% if error is defined %}
        <p>{{ error }}</p>
    {% endif %}

    <form action="/libros" method="post">
        {% if id is defined %}
            <input type="hidden" name="id" value="{{ id }}">
        {% endif %}
        <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" name="titulo" id="titulo" required value="{% if titulo is defined %}{{ titulo }}{% endif %}">
        </div>
        <div class="mb-3">
            <label for="autor" class="form-label">Autor</label>
            <input type="text" class="form-control" name="autor" id="autor" required value="{% if autor is defined %}{{ autor }}{% endif %}">
        </div>
        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea name="descripcion" class="form-control" id="descripcion" cols="30" rows="10" required>{% if descripcion is defined %}{{ descripcion }}{% endif %}</textarea>
        </div>
        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input type="text" class="form-control" name="isbn" id="isbn" required value="{% if isbn is defined %}{{ isbn }}{% endif %}">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Guardar</button>
        </div>
    </form>
    
{% endblock %}